@font-face {
  font-family: "zoho-puvi";
  src: url("../../public/font/ZohoPuviMedium.otf") format("opentype");
}
* {
  font-family: "zoho-puvi";
}
.active {
  color: #2c8c53;
  border-bottom: 3px solid #2c8c53;
  font-weight: 600;
}
.active img {
  background-color: #2bbc7c;
  border-radius: 3px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
